{% extends "dashboard/base.html" %}

{% block title %}Blog Posts{% endblock %}


{% block pagetitle %}Blog Posts{% endblock %}

{% block content %}
<div class="row">

	{% if messages %}
	{% for message in messages %}
	<div {% ifequal message.tags 'error' %} class="alert alert-danger" {% else %} class="alert alert-{{ message.tags }}"{% endifequal %}>{{ message.message }}</div>
	{% endfor %}
	{% endif %}

	<div class="action-btns">
			<a href="{% url 'blog:blog_categories' %}" class="btn btn-success"><i class="fa fa-flag"></i> Categories</a>
			<button class="btn btn-primary"><i class="fa fa-plus"></i> New Post</button>
	</div>

	<div class="table-responsive">
		
		<table class="table table-striped">
			<thead>
				<th>Post #</th>
				<th>Post Title</th>
				<th>Category</th>
				<th>Created on</th>
				<th>Published on</th>
				<th>Author</th>
			</thead>
			<tbody>
				{% for post in posts %}
				<tr>
					<td>{{ post.pk }}</td>
					<td>{{ post.post_title }}</td>
					<td>{{ post.category }}</td>
					<td>{{ post.created_on }}</td>
					<td>{{ post.published_on }}</td>
					<td>{{ post.author }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}